* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #0E5191;
}
#container{
  max-width: 100%;
  margin: 0 auto;
}
#header{
  font-family: 'Raleway', sans-serif;
  padding: 30px;
  max-width: 100%;
  background-color: #373737;
  height: 20px;
  color: #FFFFFF;
}
#main{
  margin: 0 auto;
  max-width: 90%;
  background-color: rgba(80, 80, 80, 0);
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px;
  justify-content: space-evenly;
}
.button{
  margin: 20px 20px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  display: block;
  background-color: white;
}
.button:hover {
  background-color: #FFC300;
}
.button:active {
  background-color: #EBB300;
  box-shadow: 0 5px #666;
}
